# Le port sur lequel le serveur backend tournera
PORT=3000

# Configuration MySQL (Remplacer par les vraies valeurs en production)
DB_HOST=127.0.0.1
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
DB_NAME=nom_de_votre_base

# Configuration Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Sécurité (JWT)
JWT_SECRET=votre_cle_secrete_ultra_complexe
